<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>福润堂 预约记录</title>
  
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script type="text/javascript" src="lib/angular.js"></script>
  <script type="text/javascript" src="lib/angular-route.js"></script>
  <script type="text/javascript" src="js/frt_input.js"></script>
</head>
<body ng-app="inputApp" ng-controller="Ctrl">

  <h1 style="">福润堂<a href="index.html" style="float:right">导航页</a></h1> 
  <br>

  <div style="float:left;width:500px;">
    <h2 style="">预约记录</h2>
    选择日期：<input type="date"   ng-model="datas.selected_date" required style="width:150px" ng-change="loadBooking()" />
    <table border="1">
      <tr>
        <th></th>
        <th>病历号</th>
        <th>门诊号</th>
        <th>姓名</th>
        <th>联系电话</th>
        <th>备注</th>
        <th></th>
      </tr>
      <tr ng-repeat="obj in datas.bookinglist">
        <td align="center">{{$index+1}}</td>
        
        <td>{{obj.patient_id}}</td>
        <td>{{obj.case_id}}</td>
        <td>{{obj.name}}</td>
        <td>{{obj.mobile}}</td>
        <td>{{obj.comment}}</td>
        <td><input type="button" ng-click="goInput( obj.patient_id,obj.case_id )" value="录入处方信息">  </td>
      </tr>
    </table>
    
    </div>
  
<script type="text/javascript">
  
  var inputApp = angular.module('inputApp', []);

  function Ctrl($scope) {
    $scope.fields = {};
    $scope.datas = {};

    $scope.fields.patient_id= ""
    $scope.fields.case_id= ""
    

    var objDate = new Date(); 
    $scope.fields.treat_date = objDate;
    $scope.datas.selected_date = objDate;

    
    $scope.loadBooking = function() {
      $scope.datas.bookinglist = getBooking($scope.datas.selected_date);
    };

    $scope.goInput = function( patient_id, case_id) {
      console.log( "patient_id=" + patient_id );
      console.log( "case_id=" + case_id );
      target_url = "img_list.html?" + patient_id + ","+ case_id; 
      window.location.href = target_url ;
    };
    

  
    $scope.loadBooking();


    $scope.testFill = function() {
        $scope.fields.patient_id =  "00001";
        $scope.fields.case_id =  "00002";
        $scope.fields.mobile =  "13991300001";
        $scope.fields.name =  "李四四";
        $scope.fields.comment =  "经常来下午来。";

      };
  }
  

  </script>
</body>
</html>




