<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>福润堂 预约记录</title>
  
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script type="text/javascript" src="lib/angular.js"></script>
 
  <script type="text/javascript" src="js/frt_input.js"></script>
</head>
<body ng-app="inputApp" ng-controller="Ctrl">

  <h1 style="">福润堂<a href="index.html" style="float:right">导航页</a></h1> 
  <br>

  <div style="float:left;width:600px;">
    <h2 style="">预约记录</h2>
    选择日期：<input type="date"   ng-model="selected_date" required style="width:150px" ng-change="loadBooking()" />
    <button   ng-click="import_booking()" style="float:right;" > 导入预约数据 </button>
    <button   ng-click="getHistory()" style="float:right;" > 生成历史病历 </button>
    <table border="1">
      <tr>
        <th></th>
        <th>病历号</th>
        <th>门诊号</th>
        <th>姓名</th>
        <th>联系电话</th>
        <th style="width:150px;">备注</th>
        <th></th>
      </tr>
      <tr ng-repeat="obj in datas.bookinglist">
        <td align="center">{{$index+1}}</td>
        
        <td>{{obj.patient_no}}</td>
        <td>{{obj.case_no}}</td>
        <td>{{obj.name}}</td>
        <td>{{obj.mobile}}</td>
        <td>{{obj.comment}}</td>
        <td><input type="button" ng-click="goInput( obj.patient_no,obj.case_no )" value="录入处方信息">  </td>
      </tr>
    </table>
    
    </div>
  
<script type="text/javascript">
  
  var inputApp = angular.module('inputApp', []);

  function Ctrl($scope) {
    $scope.fields = {};
    $scope.datas = {};

    //$scope.fields.patient_no= "";
    //$scope.fields.case_no= "";
    

    var objDate = new Date(); 
    $scope.fields.treat_date = objDate;
    $scope.selected_date = objDate;

    
    $scope.loadBooking = function() {
      $scope.datas = getBooking($scope.selected_date);
    };

    $scope.goInput = function( patient_no, case_no) {
      console.log( "patien_no=" + patient_no );
      console.log( "case_no=" + case_no );
      target_url = "img_list.html?" + patient_no + ","+ case_no; 
      window.location.href = target_url ;
    };
    

  
    $scope.loadBooking();

    // 从预约模块，拷贝预约数据到本模块的data目录下。
    $scope.import_booking = function() {
      console.log( "import_booking Start." );
      var process = require('child_process');
      var os = require('os');
      
      dos_cmd = 'copy ..\\FRT_booking\\data\\*.json .\\data\\';
      osx_sh  = 'cp ../FRT_booking/data/*.json ./data/';

      // 根据不同的操作系统，设置不同的拷贝命令
      console.log('os : ' + os.platform() );
      if( 'darwin' == os.platform() ){
          run_str = osx_sh;
      }else{
          run_str = dos_cmd;
      }
      console.log('run_str : ' + run_str);

      //直接调用命令
      process.exec(run_str, function (error, stdout, stderr) {
          if (error !== null) {
            console.log('exec error: ' + error);
          }
          console.log('stdout: ' + stdout);
          $scope.loadBooking();
          $scope.$apply();
      });
      
    };

    $scope.getHistory = function() {
      console.log(filename);
      patient_list = "48,52,56,57";

      process.exec('python getHistory.py "' + patient_list + '"' ,
        function (error, stdout, stderr) {
          if (error !== null) {
            console.log('exec error: ' + error);
            // 显示操作失败消息。
          }
          console.log('stdout: ' + stdout);
          // 显示操作成功消息。
      });
    };

  }
  

  </script>
</body>
</html>




