<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>福润堂</title>
  
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script type="text/javascript" src="lib/angular.js"></script>
  <script type="text/javascript" src="js/frt_input.js"></script>
</head>
<body ng-app="editApp" ng-controller="Ctrl">
    <h1>福润堂 <a href="index.html" style="float:right">导航页</a></h1> 
    <h2>处方信息编辑</h2> 
    
    <div ng-show="!noDB" style="color:blue;">数据库连接正常。</div>
    <br>
    处方号: <input  type="text"    ng-model="recipe_no" style="width:170px" />
    <button ng-click="load_c()"  >取数据</button>
    <hr/>
    <div ng-repeat="img in case.images"  style="float:right;" >
        <img src="old_photos/{{img}}" width="600" height="800">
    </div>  

    处方编号：{{case.case_no}}<br>

    姓名:     <input  type="text"  id="id_2"   ng-model="case.patient_name"  style="width:60px"     required/><br/>
    定病:     <input  type="text"  id="id_8"   ng-model="case.dingbing"      style="width:300px"    required/><br/>
    定性:     <input  type="text"  id="id_9"   ng-model="case.dingxing"      style="width:300px"    required/><br/>
    定症:     <input  type="text"  id="id_10"  ng-model="case.dingzheng"     style="width:300px"    required/><br/>
    备注:     <textarea            id="id_11"  ng-model="case.comment"       style="width:300px"     ></textarea><br/>

    <br>药方：<br>
    <table border="1" >
      <tr><td></td><td>药名</td><td>用量</td><td>单位</td></tr>  

      <tr ng-repeat="obj in case.recipe">
        <td>&nbsp; {{$index+1}} &nbsp; </td>
        <td><input  type="text"  id="{{'id_' + (id_index+($index*3)+1) }}"   ng-model="obj.medicine"     required style="width:100px" /></td>
        <td><input  type="text"  id="{{'id_' + (id_index+($index*3)+2) }}"   ng-model="obj.count"        required style="width:40px"  /></td>
        <td><input  type="text"  id="{{'id_' + (id_index+($index*3)+3) }}"   ng-model="obj.unit"         required style="width:30px"  /></td>
      </tr>
      <tr><td colspan="4">
        <input type="button" value="再加1行"    style="float:right;"    ng-click="addRecipeItem(1)" />
      </td></tr>
    </table>


    <button ng-click="save_r()"  >保存数据</button>
    <br><br><br><br><br>

       
  
      
    
    
<script type="text/javascript">
var process = require('child_process');

var editApp = angular.module('editApp', []);

function Ctrl($scope) {
  $scope.noDB = false;//true;
  $scope.patient_no = '';
  $scope.case_no = '';

  $scope.data_p = {};

  $scope.id_index = 10;


  /*  测试数据库是否可访问   */
  $scope.ifNoDB = function (){
    var conn = getConn();
    conn.connect();
    conn.query('SELECT * from t_setting', function(err, rows, fields) {
      if (err) {
        $scope.noDB = true;
        $scope.$apply();
        //console.log("XXXXXXXXXXXXXX" + $scope.noDB );
      }else{
        $scope.noDB = false;
        $scope.$apply();
        //console.log("OOOOOOOOOOOOOO" + $scope.noDB );
      }
    });
    conn.end();
  };
  
  $scope.load_c = function(filename) {
    process.exec('python db.py load_c "' + $scope.recipe_no + '"' ,
      function (error, stdout, stderr) {
        if (error !== null) {
          console.log('exec error: ' + error);
        }
        console.log('stdout: ' + stdout);
        $scope.case = JSON.parse(stdout);
        $scope.$apply();
        
    });
  };

  $scope.addRecipeItem = function( lineNum ){
      
      if( $scope.case ){
        var r_len = $scope.case.recipe.length;
        for(i=1;i<(lineNum+1);i++){
          tempObj = new Object();
          tempObj.index_id= r_len + i;
          tempObj.medicine="";
          tempObj.count=0;
          tempObj.unit="克";
          tempObj.remark = "";
          tempObj.$$hashKey = "11" + tempObj.index_id ;

          $scope.case.recipe.push(tempObj);
          //console.log(JSON.stringify(tempObj));
        }
      }
    }

  
}

</script>
</body>
</html>




