<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>福润堂</title>
  
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script type="text/javascript" src="lib/angular.js"></script>
  <script type="text/javascript" src="lib/angular-route.js"></script>
  <script type="text/javascript" src="lib/jquery-1.11.0.js"></script>
</head>
<body ng-app="imglistApp">
  <form name="myForm" ng-controller="Ctrl">
    <h1>福润堂 </h1> 
    <h2>病历录入 第一步 选择图片</h2>
    
    <br>
   
    <div id="new_patient_photos"  style="float:left;" >
      <li ng-repeat="name in new_filenames " ng-click="setPhotoName(name)">
        <img src="new_photos/{{name}}" width="160" height="120" style="float:top;" /> {{name}} 
        <br><br>
      </li>
      
    </div>

    <div id="big_photo" ng-hide="big_photo" style="float:left;" >
        <h2 style="float:top;">
          <a href="#" ng-click="goInput()" >下一步</a>
        </h2>
        <img src="{{big_photo_src}}" width="600" height="700" />
    </div>
  </form>

<script type="text/javascript">
var fs = require('fs');
var path = require('path');

var imglistApp = angular.module('imglistApp', []);

function Ctrl($scope) {
  var url_param = location.href.substring(location.href.indexOf("?")+1);
    
  
  $scope.new_patient = "";
  $scope.big_photo = true;
  

  // 读入目录下全部JPG文件 。
  var files = fs.readdirSync("./new_photos");
  var imgFiles = [];
  // 筛选出 jpg 文件
  files.forEach(function(fileName, index) {
    if( ".jpg" === path.extname(fileName) ){
      imgFiles.push(fileName);
    }
    //console.log( path.extname(fileName) );
  });
  $scope.new_filenames = imgFiles;

  $scope.setPhotoName = function( imgname ){
    $scope.imgname = imgname;
    $scope.big_photo_src = "new_photos/"+imgname;
    $scope.big_photo = false;
  };

  $scope.goInput = function(){
    window.location.href = "input.html?" + url_param + "," + $scope.imgname ;
  };
  




  $scope.testA = function() {
    console.log( JSON.stringify($scope.new_or_old) );

    console.log( JSON.stringify($scope.new_patient) );
  };
}

</script>
</body>
</html>




