<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>福润堂 处方录入</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script type="text/javascript" src="lib/angular.js"></script>
</head>
<body ng-app="inputApp" ng-controller="Ctrl">
  <span id='debug_area' style='display:none;'> 开发人员专用区域，按  `  键(ESC键下面那个键)，就可隐藏。  
    <input type="button" value=" 测试: test001 " onclick="test001()"  />
    <input type="button" value=" 测试: 填充数据 " ng-click="test002()"  />
  </span>
  <h1 style="">福润堂 处方录入<a href="index.html" style="float:right">返回首页</a></h1> 
  <br>
  <table border="0"><tr>
    <td>
      <center>
        <input  type="button"  value="   +   "  />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input  type="button"  value="   -   "  />
      </center>

      <span ng-repeat="img in new_photos" style="" >
        <img src="new_photos/{{img}}" width="600" height="800">
      </div>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>
      <div><form name="form_1">
        病历号:   <input  type="text" id="id_1"  ng-model="newdata.patients.patient_no"  style="width:100px" autofocus />
        姓名:     <input  type="text" id="id_2"  ng-model="newdata.patients.name"       style="width:60px"  required/> 
        

        <br/>
        性别:     <input  type="text"  id="id_3"   ng-model="newdata.patients.sex"             style="width:20px"  required/>
        年龄:     <input  type="text"  id="id_4"   ng-model="newdata.patients.age"           style="width:30px"  required/>
        电话:     <input  type="text"  id="id_5"   ng-model="newdata.patients.phone_no"   style="width:100px" required/>
        <br/>
        备注:     <textarea     id="id_6"   ng-model="newdata.patients.comment"      ></textarea>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        
      </div>
      <div >
        门诊号:   <input  type="text" id="id_7"   ng-model="newdata.case.case_no" style="width:100px"   />
        
        <br/>
        定病:     <input  type="text"  id="id_8"   ng-model="newdata.case.dingbing"     style="width:300px"    required/><br/>
        定性:     <input  type="text"  id="id_9"   ng-model="newdata.case.dingxing"     style="width:300px"    required/><br/>
        定症:     <input  type="text"  id="id_10"   ng-model="newdata.case.dingzheng"    style="width:300px"    required/><br/>
        备注:     <textarea            id="id_11"   ng-model="newdata.case.comment"      style="width:300px"   ></textarea><br/>
        
        <div style="float:left;">处方:&nbsp;</div>
        <table border="1" >
          <tr><td></td><td>药名</td><td>用量</td><td>单位</td></tr>  

          <tr ng-repeat="obj in newdata.case.recipe">
            <td>&nbsp; {{$index+1}} &nbsp; </td>
            <td><input  type="text"  id="{{'id_' + (id_index+($index*3)+1) }}"   ng-model="obj.medicine"     required style="width:100px" /></td>
            <td><input  type="text"  id="{{'id_' + (id_index+($index*3)+2) }}"   ng-model="obj.count"        required style="width:40px"  /></td>
            <td><input  type="text"  id="{{'id_' + (id_index+($index*3)+3) }}"   ng-model="obj.unit"         required style="width:30px"  /></td>
            
          </tr>
          <tr><td colspan="4">
              <input type="button" value="再加10行"    style="float:right;"    ng-click="addRecipeItem(10)" />
            </td></tr>
        </table>
        </div>
        <div >

        
        抓药数量:  <input  type="text"  id="id_0"   ng-model="newdata.case.suitnum"      style="width:75px"    required/>
        
        </div>
        <div>
        <div style="float:bottom;">
          
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="button" value=" 保存处方信息 "   ng-click="saveCase()"  />
    
        </div>

      </div>
    </form>
    </td>
  </tr>
</table>
<h1 id="auto_hide_msg" ng-show="flag_save_sucess" >保存成功</h1>
  
<script type="text/javascript">
  var inputApp = angular.module('inputApp', []);

  function Ctrl($scope) {
    var fs = require('fs');
    var _ = require('underscore');

    $scope.newdata = {};
    $scope.newdata.patients = {};
    $scope.newdata.patients.image = "head.jpg";
    $scope.newdata.case = {};
    $scope.flag_save_sucess = false;

    $scope.id_index = 11;

    $scope.new_photos = [];
    var url_param = location.href.substring(location.href.indexOf("?")+1);
    var params = url_param.split(",");
    $scope.newdata.patients.patient_no = params[0];
    $scope.newdata.case.case_no = params[1];

    for( i=2; i<params.length; i++ ){
      // 必须进行解码，以应对中文字符被编码为这样的串  %E4%B8%AD%E6%96%87  的情况
      $scope.new_photos.push( decodeURI(params[i]));
    }
    console.log($scope.new_photos);


    $scope.old_readonly = false;
    $scope.old_show = false;

    $scope.newdata.case.recipe = [];
    $scope.addRecipeItem = function( lineNum ){
      for(i=1;i<(lineNum+1);i++){
        tempObj = new Object();
        tempObj.index_id=i;
        tempObj.medicine="";
        tempObj.count=0;
        tempObj.unit="克";
        tempObj.remark="";

        $scope.newdata.case.recipe.push(tempObj);
        //console.log(JSON.stringify(tempObj));
      }
    }
    $scope.addRecipeItem(20);
    

    $scope.saveCase = function() {
      
      $scope.newdata.case.images = []; // $scope.new_photos;

      console.log("ZZZZZZZZ:" + $scope.new_photos.length);

      for( i=0; i < $scope.new_photos.length; i++) {
        console.log("ZZZZZZZZ:" + i);
        $scope.newdata.case.images.push( $scope.newdata.case.case_no + "_" + $scope.new_photos[i] ) ;
      }

      var aStr = JSON.stringify($scope.newdata);
      // Write a file:
      console.log( "aStr = ###" + aStr + "###" );
      fs.writeFileSync('data/case/c'+ $scope.newdata.case.case_no +'.json', aStr);
      
      // 把用过的照片移动到 old_photos 目录中去。
      for( i=0; i<$scope.new_photos.length; i++ ){
        fs.renameSync("new_photos/" + $scope.new_photos[i], "old_photos/" + $scope.newdata.case.images[i]);
      }


      $scope.flag_save_sucess = true;

      setTimeout(function(){
                              $scope.flag_save_sucess = false;
                              window.location.href = "bookinglist.html?" + $scope.newdata.case.case_no;
                            },1000);
    };

    // 根据电话号码，找出患者信息。
    $scope.findInfo = function() {
      $scope.old_show = false;

      var database = {};
      var strFilename = "data/database.json"
      if(fs.existsSync( strFilename) ){
        var strBookingList = fs.readFileSync(strFilename);
        database = JSON.parse(strBookingList);
        
        var findObj = {};
        findObj.patient_no = $scope.newdata.patients.patient_no;
        //console.log(database.patient_list[0]);
        //console.log(findObj);
        var tempObj = _.findWhere(database.patient_list, findObj );
        

        if(tempObj){
          $scope.newdata.patients.name = tempObj.patient_name;
          $scope.newdata.patients.phone_no = tempObj.mobile;
          $scope.newdata.patients.comment = tempObj.comment;

          $scope.old_readonly = true;
          $scope.old_show = false;
        }else{
          // todo  新患者提示
          $scope.old_show = true;
        }
        
      }else{
        // todo  出错提示，存放患者信息的json文件不存在。
      }
    };

    $scope.test002 = function() {
      $scope.newdata.patients = {patient_no:"00001",name:"罗辑","sex":"男","age":"46","phone_no":"18990000001","comment":"123456 abcdef"};
      $scope.newdata.case.datetime = "2014-4-23";
      $scope.newdata.case.counts = "4";
      $scope.newdata.case.dingxing = "寒";
      $scope.newdata.case.dingbing = "寒症";
      $scope.newdata.case.dingzheng = "冷";
      $scope.newdata.case.comment = "987654 xyzabc";
      $scope.newdata.case.suitnum = "15";

      tempObj=new Object();
      tempObj.medicine="山楂";
      tempObj.count=10;
      tempObj.unit="克";
      $scope.newdata.case.recipe[0] = tempObj;

      tempObj=new Object();
      tempObj.medicine="陈皮";
      tempObj.count=10;
      tempObj.unit="克";
      $scope.newdata.case.recipe[1] = (tempObj);

      tempObj=new Object();
      tempObj.medicine="萝卜";
      tempObj.count=20;
      tempObj.unit="克";
      $scope.newdata.case.recipe[2] = (tempObj);
      
  };
      
  }
   
  debug_flag = 0;
  document.onkeydown = function(event) { 
    keynum = event.which;

    // 这一段是用来显示隐藏debug区的。
    if (keynum==192){
      
      if( debug_flag == 0 ){
        debug_flag++;
      }else if(debug_flag == 1 ){
        debug_flag++;
        document.getElementById('debug_area').style.display="";//显示
        
      }
      else if(debug_flag == 2 ){
        debug_flag = 0;
        document.getElementById('debug_area').style.display="none";//隐藏
      }
        
    }

    //alert(keynum);
    if (keynum==13){
        
        var temp_id = event.srcElement.id;
        if( temp_id ){
          var str_id = temp_id.substring(3); 
          console.log("id:" , str_id );
          var i_id = new Number(str_id);
          var obj = document.getElementById('id_' + (i_id + 1) );
          if( obj ){
            obj.focus();
          }
          else{
            obj = document.getElementById( 'id_0' );
            obj.focus();
          }
        }
        else{
          console.log("not input." );
        }
        
    }
  };

  var test001 = function() {
    for( i=1; i<30; i++ ){
      var obj = document.getElementById('id_' + i );
      obj.focus();
      console.log( "" + i + ":" + obj );
    } 
  };

  


  </script>
</body>
</html>




