<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>福润堂 处方录入</title>
  
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script type="text/javascript" src="lib/angular.js"></script>
  <script type="text/javascript" src="lib/angular-route.js"></script>
  <script type="text/javascript" src="lib/jquery-1.11.0.js"></script>
</head>
<body ng-app="inputApp" ng-controller="Ctrl">
  
    <h1 style="">福润堂 处方录入<a href="index.html" style="float:right">返回首页</a></h1> 
    <br>
    <table><tr>
      <td>
        <center>
        <input  type="button"  value="   +   "  />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input  type="button"  value="   -   "  />
      </center>
    
    <span ng-repeat="img in new_photos" style="" >
      <img src="new_photos/{{img}}" width="600" height="800">
    </div>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>
    <div>
               <input  type="text"    ng-model="newdata.patients.patients_id" style="width:100px" readonly />
      姓名:     <input  type="text"   ng-model="newdata.patients.name"     ng-readonly="old_readonly"  style="width:60px"  required/> 
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="button"  value=" 从预约名单中选取 " ng-click="selectPerson()"  />
      <br/>
      性别:     <input  type="text"    ng-model="newdata.patients.sex"       ng-readonly="old_readonly"       style="width:20px"  required/>
      年龄:     <input  type="text"    ng-model="newdata.patients.age"       ng-readonly="old_readonly"    style="width:30px"  required/>
      电话:     <input  type="text"    ng-model="newdata.patients.phone_no"  ng-readonly="old_readonly" style="width:100px" required/>
      <br/>
      备注:     <textarea       ng-model="newdata.patients.comment"       ></textarea>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="button"  value=" 保存患者信息 " ng-click="savePerson()"  />
      <hr/>
      </div>
      <div >
      门诊号:   <input  type="text"   ng-model="newdata.case.case_id" style="width:100px"  ng-readonly="old_readonly" />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      {{newdata.case.datetime}} &nbsp;&nbsp; 第 {{newdata.case.counts}} 次就诊
      <br/>

      定性:     <input  type="text"    ng-model="newdata.case.dingxing"     style="width:400px"    required/><br/>
      定病:     <input  type="text"    ng-model="newdata.case.dingbing"     style="width:400px"    required/><br/>
      定症:     <input  type="text"    ng-model="newdata.case.dingzheng"    style="width:400px"    required/><br/>
      备注:     <textarea              ng-model="newdata.case.comment"      style="width:400px"   ></textarea><br/>
      抓药数量:  <input  type="text"    ng-model="newdata.case.suitnum"      style="width:375px"    required/><br/>
      
      <div style="float:left;">处方:&nbsp;</div>
      <table border="1" style="float:left;">
        <tr>
          <td></td><td>药名</td><td>用量</td><td>单位</td><td>备注</td>
        </tr>  

        <tr ng-repeat="obj in newdata.recipe  track by $id(obj)">
          <td>&nbsp; {{$index+1}} &nbsp; 
          </td><td><input  type="text"     ng-model="obj.medicine"     required style="width:100px" />
          </td><td><input  type="number"   ng-model="obj.count"        required style="width:40px"  />
          </td><td><input  type="text"     ng-model="obj.unit"         required style="width:30px"  />
          </td><td><input  type="text"     ng-model="obj.remark"                style="width:120px"/>
          </td>
        </tr>

      </table>
      <br/><br/>
      <div>
        
      <input type="button" value=" 保存处方信息 "   ng-click="saveCase()"  />
      <input type="button" value="再加10行"        ng-click="addRecipeItem(10)" />
      <input type="button" value=" 测试: 显示数据 " ng-click="test001()"  />
      <input type="button" value=" 测试: 填充数据 " ng-click="test002()"  />
      </div>
    </div>
      </td>
      </tr>
        </table>
  
<script type="text/javascript">
  var inputApp = angular.module('inputApp', []);

  function Ctrl($scope) {
    $scope.newdata = {};
    //$scope.newdata.patients = {};
    $scope.newdata.case = {};

    $scope.new_photos = [];
    var url_param = location.href.substring(location.href.indexOf("?")+1);
    var params = url_param.split(",");
    for( i=0; i<params.length; i++ ){
      $scope.new_photos.push( params[i]);
    }


    $scope.old_readonly = false;

    $scope.newdata.recipe = [];
    $scope.addRecipeItem = function( lineNum ){
      for(i=1;i<(lineNum+1);i++){
        tempObj=new Object();
        tempObj.index_id=i;
        tempObj.medicine="";
        tempObj.count=0;
        tempObj.unit="克";
        tempObj.remark="";

        $scope.newdata.recipe.push(tempObj);
      }
    }
    $scope.addRecipeItem(10);
    
   
    $scope.zhongyaounits = [{name:"克"},{name:"瓶"},{name:"盒"},{name:"包"},{name:"付"}]
    

    $scope.savePerson = function() {
      fs = require('fs');
      var aStr = JSON.stringify($scope.phones);
      // Write a file:
      fs.writeFileSync('data/case.txt', aStr);
      
    };

    $scope.saveCase = function() {
      fs = require('fs');
      $scope.newdata.case.images = $scope.new_photos;

      var aStr = JSON.stringify($scope.newdata);
      // Write a file:
      fs.writeFileSync('data/c'+ $scope.newdata.case.case_id +'.json', aStr);
      confirm("保存成功");
      window.location.href = "img_list.html" ;
      
    };


    $scope.test001 = function() {
      
      var aStr = JSON.stringify($scope.newdata);
      alert(aStr);
      
    };

      $scope.test002 = function() {
        $scope.newdata.patients = {patients_id:"00001",name:"罗辑","sex":"男","age":"46","phone_no":"18990000001","comment":"123456 abcdef"};
        $scope.newdata.case = {"case_id":"00001", "datetime":"2014-4-23", 
                               "counts":"4","dingxing":"寒","dingbing":"寒症",
                               "dingzheng":"冷","comment":"987654 xyzabc",suitnum:"15"
                               };

        tempObj=new Object();
        tempObj.medicine="山楂";
        tempObj.count=10;
        tempObj.unit="克";
        tempObj.remark="abc";
        $scope.newdata.recipe[0] = tempObj;

        tempObj=new Object();
        tempObj.medicine="陈皮";
        tempObj.count=10;
        tempObj.unit="克";
        tempObj.remark="def";
        $scope.newdata.recipe[1] = (tempObj);

        tempObj=new Object();
        tempObj.medicine="萝卜";
        tempObj.count=20;
        tempObj.unit="克";
        tempObj.remark="";
        $scope.newdata.recipe[2] = (tempObj);
        
      };
  }
  

  </script>
</body>
</html>




