<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>福润堂 处方录入</title>
  
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script type="text/javascript" src="lib/angular.js"></script>
  <script type="text/javascript" src="lib/jquery-1.11.0.js"></script>
</head>
<body ng-app="inputApp" ng-controller="Ctrl">

  <h1 style="">福润堂 处方录入<a href="index.html" style="float:right">返回首页</a></h1> 
  <br>
  <table border="0"><tr>
    <td>
      <center>
        <input  type="button"  value="   +   "  />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input  type="button"  value="   -   "  />
      </center>

      <span ng-repeat="img in new_photos" style="" >
        <img src="new_photos/{{img}}" width="600" height="800">
      </div>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>
      <div>
        病历号:   <input  type="text"   ng-model="newdata.patients.patient_no" ng-readonly="false" style="width:100px"  />
        姓名:     <input  type="text"   ng-model="newdata.patients.name"     ng-readonly="old_readonly"  style="width:60px"  required/> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button  ng-click="findInfo()"  >检索病人信息</button>
        <br/><span ng-show="old_show" style="color:red;">无法检索到患者信息，如果是新患者，请直接输入信息。</span>
        

        <br/>
        性别:     <input  type="text"    ng-model="newdata.patients.sex"       ng-readonly="old_readonly"       style="width:20px"  required/>
        年龄:     <input  type="text"    ng-model="newdata.patients.age"       ng-readonly="old_readonly"    style="width:30px"  required/>
        电话:     <input  type="text"    ng-model="newdata.patients.phone_no"  ng-readonly="old_readonly" style="width:100px" required/>
        <br/>
        备注:     <textarea       ng-model="newdata.patients.comment"      ></textarea>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <hr/>
      </div>
      <div >
        门诊号:   <input  type="text"   ng-model="newdata.case.case_no" style="width:100px"   />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{newdata.case.datetime}} &nbsp;&nbsp; 第 {{newdata.case.counts}} 次就诊
        <br/>

        定性:     <input  type="text"    ng-model="newdata.case.dingxing"     style="width:400px"    required/><br/>
        定病:     <input  type="text"    ng-model="newdata.case.dingbing"     style="width:400px"    required/><br/>
        定症:     <input  type="text"    ng-model="newdata.case.dingzheng"    style="width:400px"    required/><br/>
        备注:     <textarea              ng-model="newdata.case.comment"      style="width:400px"   ></textarea><br/>
        抓药数量:  <input  type="text"    ng-model="newdata.case.suitnum"      style="width:375px"    required/><br/>

        <div style="float:left;">处方:&nbsp;</div>
        <table border="1" style="float:left;">
          <tr>
            <td></td><td>药名</td><td>用量</td><td>单位</td><td>备注</td>
          </tr>  

          <tr ng-repeat="obj in newdata.case.recipe">
            <td>&nbsp; {{$index+1}} &nbsp; </td>
            <td><input  type="text"     ng-model="obj.medicine"     required style="width:100px" /></td>
            <td><input  type="number"   ng-model="obj.count"        required style="width:40px"  /></td>
            <td><input  type="text"     ng-model="obj.unit"         required style="width:30px"  /></td>
            <td><input  type="text"     ng-model="obj.remark"                style="width:120px"/>
            </td>
          </tr>

        </table>

        <div style="float:bottom;">
          <hr/><br/><br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="button" value="再加10行"        ng-click="addRecipeItem(10)" />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="button" value=" 保存处方信息 "   ng-click="saveCase()"  />


          <input type="hidden" value=" 测试: 显示数据 " ng-click="test001()"  />
          <input type="text" value=" 测试: 填充数据 " ng-click="test002()"  />
        </div>
      </div>
    </td>
  </tr>
</table>
<h1 id="auto_hide_msg" ng-show="flag_save_sucess" >保存成功</h1>
  
<script type="text/javascript">
  var inputApp = angular.module('inputApp', []);

  function Ctrl($scope) {
    var fs = require('fs');
    var _ = require('underscore');

    $scope.newdata = {};
    $scope.newdata.patients = {};
    $scope.newdata.case = {};
    $scope.flag_save_sucess = false;

    $scope.new_photos = [];
    var url_param = location.href.substring(location.href.indexOf("?")+1);
    var params = url_param.split(",");
    $scope.newdata.patients.patient_no = params[0];
    $scope.newdata.case.case_no = params[1];

    for( i=2; i<params.length; i++ ){
      $scope.new_photos.push( params[i]);
    }


    $scope.old_readonly = false;
    $scope.old_show = false;

    $scope.newdata.case.recipe = [];
    $scope.addRecipeItem = function( lineNum ){
      for(i=1;i<(lineNum+1);i++){
        tempObj = new Object();
        tempObj.index_id=i;
        tempObj.medicine="";
        tempObj.count=0;
        tempObj.unit="克";
        tempObj.remark="";

        $scope.newdata.case.recipe.push(tempObj);
        console.log(JSON.stringify(tempObj));
      }
    }
    $scope.addRecipeItem(10);
    

    $scope.saveCase = function() {
      
      $scope.newdata.case.images = $scope.new_photos;

      var aStr = JSON.stringify($scope.newdata);
      // Write a file:
      console.log( "aStr = ###" + aStr + "###" );
      fs.writeFileSync('data/case/c'+ $scope.newdata.case.case_no +'.json', aStr);
      
      // 把用过的照片移动到 old_photos 目录中去。
      for( i=0; i<$scope.new_photos.length; i++ ){
        fs.renameSync("new_photos/" + $scope.new_photos[i], "old_photos/" + $scope.new_photos[i]);
      }


      $scope.flag_save_sucess = true;

      setTimeout(function(){
                              $scope.flag_save_sucess = false;
                              window.location.href = "bookinglist.html" ;
                            },1000);
    };

    // 根据电话号码，找出患者信息。
    $scope.findInfo = function() {
      $scope.old_show = false;

      var database = {};
      var strFilename = "data/database.json"
      if(fs.existsSync( strFilename) ){
        var strBookingList = fs.readFileSync(strFilename);
        database = JSON.parse(strBookingList);
        
        var findObj = {};
        findObj.patient_no = $scope.newdata.patients.patient_no;
        //console.log(database.patient_list[0]);
        //console.log(findObj);
        var tempObj = _.findWhere(database.patient_list, findObj );
        

        if(tempObj){
          $scope.newdata.patients.name = tempObj.patient_name;
          $scope.newdata.patients.phone_no = tempObj.mobile;
          $scope.newdata.patients.comment = tempObj.comment;

          $scope.old_readonly = true;
          $scope.old_show = false;
        }else{
          // todo  新患者提示
          $scope.old_show = true;
        }
        
      }else{
        // todo  出错提示，存放患者信息的json文件不存在。
      }
    };




    $scope.test001 = function() {
      
      var aStr = JSON.stringify($scope.newdata);
      alert(aStr);
      
    };

      $scope.test002 = function() {
        //$scope.newdata.patients = {patients_id:"00001",name:"罗辑","sex":"男","age":"46","phone_no":"18990000001","comment":"123456 abcdef"};
        $scope.newdata.case.datetime = "2014-4-23";
        $scope.newdata.case.counts = "4";
        $scope.newdata.case.dingxing = "寒";
        $scope.newdata.case.dingbing = "寒症";
        $scope.newdata.case.dingzheng = "冷";
        $scope.newdata.case.comment = "987654 xyzabc";
        $scope.newdata.case.suitnum = "15";


        tempObj=new Object();
        tempObj.medicine="山楂";
        tempObj.count=10;
        tempObj.unit="克";
        tempObj.remark="abc";
        $scope.newdata.case.recipe[0] = tempObj;

        tempObj=new Object();
        tempObj.medicine="陈皮";
        tempObj.count=10;
        tempObj.unit="克";
        tempObj.remark="def";
        $scope.newdata.case.recipe[1] = (tempObj);

        tempObj=new Object();
        tempObj.medicine="萝卜";
        tempObj.count=20;
        tempObj.unit="克";
        tempObj.remark="";
        $scope.newdata.case.recipe[2] = (tempObj);
        
      };
  }
  


  </script>
</body>
</html>




