<!DOCTYPE html>
<html>
<head>
<script src="lib/angular.js"></script>
<meta charset=utf-8 />
<title>JS Bin</title>
</head>
<body ng-app ng-controller="MyController">

  <script type="text/javascript">
  function MyController($scope){
    $scope.fields = {
      test0: [0, 1, 2],
      test1: {"value1": "aaa", "value2": "bbb", "value3": "ccc"},
      test2: [
        {content: 1}, {content: 2}, {content: 3}
      ]
    };

    var abc_temp = {content: 7,abc:"99"};
    $scope.fields.test2.push(abc_temp);
    
    $scope.fields.test2.push(new(function(){content: 7,abc:"99";}));
  }
  

  </script>
    
  <h2>Default</h2>
    <ul>
        <li ng-repeat="v in fields.test0 track by v">
            {{v}}:<input type="text" ng-model="fields.test0[$index]">
        </li>
    </ul>
  
  <hr>
  
  <h2>track by $id(fields.test[k])</h2>
    <ul>
      <li ng-repeat="(k, v) in fields.test1 track by $id(k)">
            {{k}}:<input type="text" ng-model="fields.test1[k]">
        </li>
    </ul>
  
  <hr>
  
  <h2>track by $id(k)</h2>
    <ul>
        <li ng-repeat="obj in fields.test2 track by $id(obj)">
            {{obj}}:<input type="text" ng-model="obj.content">
            {{obj}}:<input type="text" ng-model="obj.abc">
        </li>
    </ul>
  <button ng-click="fields.test2.push({a:3})">新增 obj 資料</button>
  <hr>
    <pre>{{fields|json}}</pre>
  
</body>
</html>

























