<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>福润堂</title>
  
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script type="text/javascript" src="lib/angular.js"></script>
  <script type="text/javascript" src="js/frt_input.js"></script>
</head>
<body ng-app="dbApp" ng-controller="Ctrl">
    <h1>福润堂 <a href="index.html" style="float:right">返回首页</a>
       </h1> 
    <h2>数据导入   <button ng-click="ifNoDB()" style="float:right;" >连接数据库</button></h2> 
    <br/>
    <span ng-show="!noDB" style="color:blue;">数据库连接正常，可以上传数据。</span>
      
    <h3>病历文件列表：<br/></h3>
    <br>
    <li ng-repeat="name in new_filenames " >
        <span ng-click="showJson(name)"> {{name}} </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button ng-show="!noDB" ng-click="save2db(name)">保存到数据库</button>  <br><br>
    </li>
    
<script type="text/javascript">
var path = require('path');
var process = require('child_process');

var dbApp = angular.module('dbApp', []);

function Ctrl($scope) {
  $scope.noDB = false;//true;

  // 读入目录下全部 JSon 文件 。
  var files = fs.readdirSync("./data/case");
  var jsonFiles = [];
  // 筛选出 JSon 文件
  files.forEach(function(fileName, index) {
    if( ".json" === path.extname(fileName) ){
      jsonFiles.push(fileName);
    }
    //console.log( path.extname(fileName) );
  });
  $scope.new_filenames = jsonFiles;

  
  /*  测试数据库是否可访问   */
  $scope.ifNoDB = function (){
    var conn = getConn();
    conn.connect();
    conn.query('SELECT * from t_setting', function(err, rows, fields) {
      if (err) {
        $scope.noDB = true;
        $scope.$apply();
        //console.log("XXXXXXXXXXXXXX" + $scope.noDB );
      }else{
        $scope.noDB = false;
        $scope.$apply();
        //console.log("OOOOOOOOOOOOOO" + $scope.noDB );
      }
    });
    conn.end();
  };
  
  $scope.save2db = function(filename) {
    console.log(filename);
    process.exec('python 2db.py "' + filename + '"' ,
      function (error, stdout, stderr) {
        if (error !== null) {
          console.log('exec error: ' + error);
        }
        console.log('stdout: ' + stdout);
        location.reload(true);
    });
  };

  $scope.showJson = function(filename) {
    console.log( "filename : " + filename );
  };

  $scope.testA = function() {
    console.log( JSON.stringify($scope) );
  };
}

</script>
</body>
</html>




